@page "/manager"
@inject NavigationManager NavigationManager

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatable" content="ie=edge">
    <link rel="stylesheet" href="css/saintsPlayerStyle.css">
    <title>Saints player database</title>
</head>
<body>
    <nav id="navbar">

        <h1 class="title"><span class="logo-img"></span><span class="text-red">Saints</span> Player Database</h1>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/player">Players</a></li>
            <li><a href="/manager">Managers</a></li>

        </ul>
    </nav>
    <section class="section">
        <div class="sidebar"></div>
        <div class="main">
            <p class="constructionWarning"> Site under construction. Manager info coming soon</p>
        </div>
        <div class="sidebar"></div>
    </section>

</body>








